# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
venv/
ENV/

# Logs
logs/
*.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore

# Redis
dump.rdb
*.rdb

# Testing
.coverage
htmlcov/
.pytest_cache/ 